* {
    flex: content;
    align-items: center;
}

.sumform {
    background-color:BLACK;
    margin: 50px;
    padding: 50px;
    border-radius:20px;
    
}

navbar {
    position: absolute;
    padding: 10px;
    display: table;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 0;
}

@media only screen and (max-width:400px) {
    * {
        text-align: center;
    }
}